.App-header {
  text-align: center;
  margin: 20px;
}

.App-body {
  margin: 20px;
  margin-top: 0px;
  padding: 20px;
  padding-top: 0px;
}

.skillset {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.college, .internship, .project {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

#collegename, #projectname, #companyname {
  font-weight: bold;
}

h2, h3, h4 {
  margin: 10px 0;
}

p {
  margin: 5px 0;
}
