.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(39, 104, 177);
    background-color: #ffffff;
  }
  
  .fHeading {
    display: flex;
    justify-content: flex-start;
  }
  
  .fHeading h1, .fHeading img {
    margin-left: 30px;
  }
  
  .fHeading img {
    margin-top: 20px;
  }
  
  .links, .links a {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: flex-end;
    text-decoration: none;
    color: #0cb5e3;
    font-weight: bold;
  }
  
  .links a:hover {
    color: black;
  }
